Repository JHostalek/junior: changes, and which lefthook commands are due for each by the changed paths.
All: lint-fix, typecheck

lint-fix:
  run: bun run lint:fix && git add {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

feat(executor): replace hardcoded commit/merge with finalize agent
  src/core/claude.test.ts
  src/core/claude.ts
  src/core/git.ts
  src/daemon/executor.ts
Due: lint-fix, typecheck

refactor(claude): remove worker preamble from subprocess args
  src/core/claude.test.ts
  src/core/claude.ts
Due: lint-fix, typecheck

feat(task): allow retrying done and cancelled tasks
  src/cli/task.ts
  src/tui/App.tsx
Due: lint-fix, typecheck

fix(executor): skip merge check when job has no changes
  src/daemon/executor.ts
Due: lint-fix, typecheck

chore(rulesync): add MCP config and communication style rules
  .rulesync/mcp.json
  .rulesync/rules/overview.md
Due: lint-fix

feat(paths): support JUNIOR_HOME env var override
  src/core/paths.test.ts
  src/core/paths.ts
  src/daemon/executor.ts
Due: lint-fix, typecheck

feat(claude): add worker preamble to subprocess prompt
  src/core/claude.test.ts
  src/core/claude.ts
Due: lint-fix, typecheck

chore: bump version to 1.0.0
  package.json
Due: lint-fix

chore: ignore docs/plans directory
  .gitignore
Due: none

chore: add GitHub Copilot config, skills, and workflows
  .github/workflows/ci.yml
Due: none

chore: gitignore MCP config and add examples
  .gitignore
  .mcp.json.example
  .rulesync/mcp.json
  .rulesync/mcp.json.example
  README.md
Due: lint-fix

docs: mention CLAUDECODE env var clearing in security heads-up
  README.md
Due: none

feat(mcp): detect MCP availability and conditionally wire worker agents
  src/cli/hook.ts
  src/cli/schedule.ts
  src/core/claude.test.ts
  src/core/claude.ts
  src/core/mcp.test.ts
  src/core/mcp.ts
  src/daemon/executor.ts
  src/tui/App.tsx
  src/tui/SectionBar.tsx
Due: lint-fix, typecheck

chore: add release workflow and fix CLI version
  .github/workflows/release.yml
  biome.json
  src/index.ts
Due: lint-fix, typecheck

feat(skills): add /pr skill for worktree-to-PR workflow
  .rulesync/skills/pr/SKILL.md
Due: none

fix(ci): set GH_TOKEN for cross-repo workflow dispatch
  .github/workflows/release.yml
Due: none

feat(skills): add multi-platform support and AI-aware PR template to /pr skill
  .rulesync/skills/pr/SKILL.md
Due: none

refactor(skills): terse PR template voice, drop attribution footer
  .rulesync/skills/pr/SKILL.md
Due: none

feat(mcp): detect MCP availability and conditionally wire worker agents (#1)
  .rulesync/skills/pr/SKILL.md
  src/cli/hook.ts
  src/cli/schedule.ts
  src/core/claude.test.ts
  src/core/claude.ts
  src/core/mcp.test.ts
  src/core/mcp.ts
  src/daemon/executor.ts
  src/tui/App.tsx
  src/tui/SectionBar.tsx
Due: lint-fix, typecheck

docs: update install instructions to use homebrew tap
  README.md
Due: none

docs: update install instructions to use homebrew tap (#2)
  README.md
Due: none

feat(skills): add intern skill for cross-session pattern analysis
  .rulesync/skills/intern/SKILL.md
  .rulesync/skills/intern/examples/sample-report.md
  .rulesync/skills/intern/references/pattern-categories.md
  .rulesync/skills/intern/references/quality-constraints.md
  .rulesync/skills/intern/references/session-format.md
  .rulesync/skills/intern/references/synthesis-template.md
  .rulesync/skills/intern/scripts/detect-patterns.sh
  .rulesync/skills/intern/scripts/harvest-sessions.sh
  .rulesync/skills/intern/scripts/inventory-skills.sh
  .rulesync/skills/intern/scripts/validate-proposal.sh
Due: none

feat(skills): add worktree, worktree-clean, and pr lifecycle skills
  .rulesync/rules/project-conventions.md
  .rulesync/skills/pr/SKILL.md
  .rulesync/skills/worktree-clean/SKILL.md
  .rulesync/skills/worktree/SKILL.md
Due: none

fix(skills): symlink node_modules and .env in worktree skill
  .rulesync/skills/worktree/SKILL.md
Due: none

fix(skills): remove personal info from intern skill examples
  .rulesync/skills/intern/examples/sample-report.md
  .rulesync/skills/intern/references/session-format.md
Due: none

fix(skills): use .rulesync/ paths instead of .claude/ for all project writes
  .rulesync/skills/intern/SKILL.md
  .rulesync/skills/intern/examples/sample-report.md
  .rulesync/skills/intern/references/synthesis-template.md
  .rulesync/skills/intern/scripts/inventory-skills.sh
Due: none

feat: auto-regenerate rulesync rules on pull and checkout
  lefthook.yml
Due: none

feat(skills): add intern skill for cross-session pattern analysis (#3)
  .rulesync/skills/intern/SKILL.md
  .rulesync/skills/intern/examples/sample-report.md
  .rulesync/skills/intern/references/pattern-categories.md
  .rulesync/skills/intern/references/quality-constraints.md
  .rulesync/skills/intern/references/session-format.md
  .rulesync/skills/intern/references/synthesis-template.md
  .rulesync/skills/intern/scripts/detect-patterns.sh
  .rulesync/skills/intern/scripts/harvest-sessions.sh
  .rulesync/skills/intern/scripts/inventory-skills.sh
  .rulesync/skills/intern/scripts/validate-proposal.sh
  lefthook.yml
Due: none

fix(skills): make /pr skill platform-agnostic
  .rulesync/rules/project-conventions.md
  .rulesync/skills/pr/SKILL.md
Due: none

fix(skills): make /review skill platform-agnostic
  .rulesync/skills/review/SKILL.md
Due: none

chore: add hooks.json and ignore docs/notes
  .gitignore
  .rulesync/hooks.json
Due: lint-fix

feat(skills): add worktree lifecycle skills (#4)
  .gitignore
  .rulesync/hooks.json
  .rulesync/rules/project-conventions.md
  .rulesync/skills/review/SKILL.md
  .rulesync/skills/worktree-clean/SKILL.md
  .rulesync/skills/worktree/SKILL.md
Due: lint-fix

docs: revamp MCP server section in README
  README.md
Due: none

docs: revamp MCP server section in README (#5)
  README.md
Due: none

feat(skills): add ship skill for release workflow
  .rulesync/skills/ship/SKILL.md
Due: none

feat(skills): add ship skill and auto-tag workflow
  .github/workflows/auto-tag.yml
  .rulesync/skills/ship/SKILL.md
Due: none

feat(skills): add ship skill for release workflow (#6)
  .github/workflows/auto-tag.yml
  .rulesync/skills/ship/SKILL.md
Due: none

chore: bump version to 1.0.1
  package.json
  src/index.ts
Due: lint-fix, typecheck

chore: bump version to 1.0.1 (#7)
  package.json
  src/index.ts
Due: lint-fix, typecheck

docs: revamp README features section for product positioning
  README.md
Due: none

Path conditions:
  lint-fix: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
